{
    //"ignore" : "*.test.js",

    "presets": [
        "es2015",
        "es2016",
        "stage-0",
        "flow"
    ],
    "sourceMaps": "inline",
    "retainLines": true,
    "plugins": [
        "transform-flow-strip-types",
        [
            "module-resolver",
            {
                
                "alias": {
                    "src": "./src",
                    "lib":"./lib"
                }
            }
        ]
    ]
}